/*  */
.banner{
  position: relative;
  display: inline-block;
  width:100%;
  /* height:1900px; */ */

  }
  .banner img{
    width:100%;
    height:1000px;
  }
.banner .text{
  position: absolute;
       z-index: 999;
       margin: 0 auto;
       padding-top:none;
       /* left: 0;
       right: 0; */
       font-size:10px;
       top: 20%; /* Adjust this value to move the positioned div up and down */
       text-align: center;
       width: 100%; /* Set the width of the positioned div */
}
/* #clock{
  width:1920px;
  height:100%;
}
#study{
  width:1920px;
  height:100%;

}
#heade{
  color:white;
  font-size:34px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top:80px;
  padding-bottom:80px;


}
#par{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  font-size:24px;
} */
